{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <img src="{{ car.image.url }}" class="img-fluid rounded" alt="{{ car.brand }} {{ car.model }}">
    </div>
    <div class="col-md-6">
        <h1>{{ car.year }} {{ car.brand }} {{ car.model }}</h1>
        {% if car.is_sold %}
        <span class="badge bg-danger fs-6 mb-3">SOLD</span>
        {% endif %}
        <p class="fs-4 text-primary"><strong>${{ car.price }}</strong></p>
        <p><strong>Type:</strong> {{ car.car_type }}</p>
        <p><strong>Year:</strong> {{ car.year }}</p>
        <p><strong>Listed by:</strong> {{ car.user.username }}</p>
        <p><strong>Description:</strong></p>
        <p>{{ car.description }}</p>
        
        {% if user == car.user %}
        <div class="mt-4">
            <a href="{% url 'edit-car' car.pk %}" >Edit Listing</a>
            <a href="{% url 'delete-car' car.pk %}" >Delete Listing</a>
        </div>
        {% endif %}
        
        <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Back to Listings</a>
    </div>
</div>
{% endblock %}